.form-login {
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
}

.outer-form-login {
    padding: 20px;
    background: #eeeeee;
    posititon: absolute;
    align-content: center;
}


.form-group {
    position: relative;
    margin: center;

}

input {
    align-content: center;
    width: 100%;
}

.inner-login .form-content {
    background: #d3d3d3;
}

h3 .title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}

.dropdown-toggle,
.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(0, 104, 214);
}

.btn-danger {
    width: 55%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer-copyright {
    background-color: rgb(0, 104, 214);
}